<ion-header>
    <ion-toolbar>
          <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
          </button> 
  
      <ion-title>
            <div class="titulo">
        Frequência 
       </div>
          <!-- <ion-icon name="contact"></ion-icon> -->
      </ion-title>
    </ion-toolbar>
</ion-header>


<ion-scroll scrollY="true">
    <ion-card class="geral">
        
        <ion-grid >
    
            <div id="options" (click)="close()" >
                <ion-icon name="close-circle"></ion-icon>
            </div>

                <ion-row class="row">
                        <ion-col class="col" col-4=""><div class="a"><h2>Data</h2></div>
                        </ion-col>
                        <ion-col col-8 >
    
                            <ion-slides  slidesPerView=2  >
                                
                                <ion-slide >
                                  <div id="presencaNome">

                                    <h2>{{presencaData.Nome}}</h2>
                                    
                                  </div>
                                  
                                </ion-slide>
                                    
                            </ion-slides>
                          </ion-col>
                </ion-row>
    
                <!-- <ion-row *ngFor="let d of lDatas" (click)="abreModal(p)" > -->
                <ion-row *ngFor="let d of lDatas; let o = index" >

                    <ion-col col-4 >
                        
                        <ion-item>
                            <h2>
                              {{d}}
                            </h2>
                            <div class="hora">
                                (8:00)
                            </div>
                        </ion-item>
        
                    </ion-col>

                    <ion-col col-8 style="background: #d7efcf" *ngIf="lPresencaDia[o].Presente == 1 " >
    
                        <ion-slides  slidesPerView=1  >
                        
                          <ion-slide >
                            <div id="simbolo">
                                    <div id="simbolo-ok">
                                        <ion-icon style="background: #cfefe2" *ngIf="lPresencaDia[o].Presente == 1 " name="checkmark-circle"></ion-icon>
                                    </div>
                                    <div id="simbolo-nok">
                                        <ion-icon class="simbolo-nok" style="background: #e9c5be" *ngIf="lPresencaDia[o].Presente == 0 " name="close-circle-outline"></ion-icon>
                                    </div>
                            </div>
                          </ion-slide>
                          
        
                        </ion-slides>
                    </ion-col>

                    <ion-col col-8 style="background: #e9c5be" *ngIf="lPresencaDia[o].Presente == 0 " >
    
                        <ion-slides  slidesPerView=1  >
                        
                          <ion-slide >
                            <div id="simbolo">
                              <ion-icon style="background: #d7efcf" *ngIf="lPresencaDia[o].Presente == 1 " name="checkmark-circle"></ion-icon>

                              <div id="simbolo-nok">
                                        
                                <ion-icon style="background: #e9c5be" *ngIf="lPresencaDia[o].Presente == 0 " name="close-circle"></ion-icon>
                            
                                </div>
                            </div>
                          </ion-slide>
                          
        
                        </ion-slides>
                    </ion-col>

                </ion-row>
            
        </ion-grid>
    
    </ion-card>
    </ion-scroll>