page-about {

    

    div#simbolo {
        margin-right: 100px;
    }
    div#presencaNome {
        margin-left: 30px;
    }

    .item-md h2 {
        margin: 0 0;
        font-size: 1.2rem;
        font-weight: normal;
        
        /* width: 800px; */
    }

    div#simbolo-ok {
        color: #006400b8;
    }

    ion-icon.icon.icon-md.ion-md-close-circle {
        color: brown;
    }

}


