page-imagens {
    img{
        width: 100%;
        height:auto;
    }

    .box-image {
        margin-bottom: 90px;
    }
    .img-button {
        margin-left: 55px;
    }


    .options-div {
        color: aliceblue;
        font-size: small;
        float: left;
    }


    .foto {
        /* margin-top: 30px; */
        /* margin-left: 33px; */
        margin-right: 40px;
    }

    .sair {
        float: left;
    }

    .selecionar {
        float: left;
    }
}
