

<ion-header>
    <ion-toolbar>
          <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
          </button> 
  
      <ion-title>
          <div class="titulo">
        Histórico de Chamadas
        </div>
          <!-- <ion-icon name="contact"></ion-icon> -->
      </ion-title>
    </ion-toolbar>
</ion-header>



<ion-card class="card-historico">
<!-- Float the icon left -->
<button ion-button icon-start (click)="confirmNewList()" [hidden]="aluno" >
    <ion-icon name="add"> Nova Lista</ion-icon>
  </button>

  <button ion-button icon-start (click)="abrirGeral()" [hidden]="aluno" >
    <ion-icon name="grid"> Geral</ion-icon>
  </button>
    
  <!-- Float the icon right -->
  <button ion-button icon-start (click)="abrirGeral()"  [hidden]="!aluno">
      <ion-icon name="clipboard"> Relatório</ion-icon>
    </button>

</ion-card>

<ion-scroll scrollY="true">
<ion-card >
    
  <ion-list >
  <ion-list *ngFor="let p of listaPresenca" (click)="abreListaChamada(p.ListaPresencaId,p.Dia,p.Mes,p.Ano)"> 
    <ion-item>
      <ion-icon name="paper" item-start large></ion-icon>
      <h2>{{p.Dia}} - {{p.Mes}} - {{p.Ano}}</h2>
      <p>{{calculaDia(p.Dia,p.Mes,p.Ano)}} , {{p.Dia}}  de {{calculaMes(p.Mes)}} de {{p.Ano}}</p>
    </ion-item>
  </ion-list>
</ion-list>

</ion-card>
</ion-scroll>

