

<ion-header>
    <ion-toolbar>
        
      <ion-title>
        Nova Turma
        
        <ion-icon name="md-close" (click)="dismiss()"></ion-icon>
      </ion-title>


    </ion-toolbar>    
</ion-header>

<ion-list   class="modal-inset-box-shadow-color">

    <ion-item>
    </ion-item>
    <ion-item>
    </ion-item>
    <ion-item>
        <ion-label stacked>Nome</ion-label>
        <ion-input type="text" [(ngModel)]='nome'></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Data Início</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="dataInicial"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label>Data Término</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="dataFinal"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label stacked>Hora Inicial</ion-label>
        <ion-datetime displayFormat="HH:mm" [(ngModel)]="horaInicial"></ion-datetime>

    </ion-item>
    <ion-item>
        <ion-label stacked>Hora Final</ion-label>
        <ion-datetime displayFormat="HH:mm" [(ngModel)]="horaFinal"></ion-datetime>

    </ion-item>

    <ion-list>
      <ion-item>
        <ion-label>Professores</ion-label>
        <ion-select [(ngModel)]="selected" (ionChange)="onSelectChange($event)">

          <ion-option *ngFor="let professor of professores" [value]="professor" [selected]="professor.ProfessorId == selectedProfesor" >{{professor.NomeCompleto}}</ion-option>
          
        </ion-select>
      </ion-item>

      <ion-item>
        <!-- <div padding [hidden]="save"> -->
            <button [hidden]="save" class="button-salvar" ion-button block round  (click)="salvarNovaTurma()">Adicionar Turma</button>
          <!-- </div> -->
        </ion-item>
        
        <ion-item>
          <!-- <div padding [hidden]="edit"> -->
            <button [hidden]="edit" class="button-salvar" ion-button block round (click)="editarTurma(turmaId)">Salvar Edição</button>
          <!-- </div> -->
        </ion-item>
    

    </ion-list>


    
</ion-list>