<ion-header>
    <ion-toolbar>
         
      <ion-title>
            <div class="titulo">
        Turmas-Aluno
        </div>
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-scroll scrollY="true">
    <ion-card >
            
      <div class="contact-modal">

        <div class="close-object" (click)="close()" >
          <ion-icon name="close-circle"></ion-icon>
        </div>

      <ion-list  *ngFor="let a of alunos; let i = index" >
              
       
        
                  <ion-item>
                    
                    <ion-label>{{a.NomeCompleto}}</ion-label>
                    <ion-checkbox checked="a.Selected" [(ngModel)]="a.Selected" ></ion-checkbox>
                    
                  </ion-item>

                 
        
        </ion-list>

        <div class="right">
          <button ion-button (click)="addAlunos()"  >
              Add
            </button>
          </div>

      </div>

      </ion-card>
            
    </ion-scroll>
              
              