<ion-header>
    <ion-toolbar>
          <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
          </button> 
  
      <ion-title>
            <div class="titulo">
        QR Code - Gerador
        </div>
          
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-item></ion-item>
<ion-item></ion-item>

<ion-content padding>
    
    <ion-card >
        <ion-title>
            Aponte o seu leitor de QRCode.
        </ion-title>
      <ion-item>

          <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>  
     
      </ion-item>

      
    </ion-card>
   
  </ion-content>