page-home-professor {

  .skeleton-card-publicacao{
    background-color: #d3d3d369;
    animation: skeleton-blink 1.8s ease infinite;

  }

  .skeleton-card-publicacao-text {
    color: #bdbdbd;
    background-color: currentColor;
    margin-right: 20px;
    margin-left: 20px;
    animation: skeleton-blink 1.8s ease infinite;

}

button.skeleton-card-publicacao-button.disable-hover.item-button.button.button-md.button-default.button-default-md {
  background-color: #bdbdbd;
  color: #bdbdbd;
  animation: skeleton-blink 1.8s ease infinite;

}

ion-icon.skeleton-person-add-icon.icon.icon-md.ion-md-person-add.item-icon {
  color: #bdbdbd;
  margin-top: -30px;
  animation: skeleton-blink 1.8s ease infinite;

}
 
ion-input.skeleton-card-publicacao-form-titulo.input.input-md.ng-untouched.ng-pristine.ng-valid {
  background: #bdbdbd;
  animation: skeleton-blink 1.5s ease infinite;

}
ion-input.skeleton-card-publicacao-form-menssage.input.input-md.ng-untouched.ng-pristine.ng-valid {
  background-color: #bdbdbd;
  animation: skeleton-blink 1.8s ease infinite;

}

@keyframes skeleton-blink {
  0%{ opacity: 1;}
  20%{ opacity: .7;}
  30%{ opacity: 1;}
  70%{ opacity: 0;}
  95%{ opacity: 1;}

}

}

ion-icon {
    display: inherit;
    font-size: 2.0em;
    float: right;
  }


ion-card.card-publicacao.card.card-md {
    border-radius: 10px;
}

.card-publicacao-publicar {
  margin-left: 200px;
}

.card-publicacao-text {
  margin-left: 18px;
}

ion-card.card-mensagens.card.card-md {
  border-radius: 10px;
}

.card-mensagens-titulo {
  margin-left: 20px;
  margin-top: 10px;
  white-space: normal !important;

}

.card-mensagens-mensagem {
  white-space: normal !important;
}

.escolher-turma-icon {
  margin-right: 10px;
  margin-top: -30px;
}

.organizador-card {
  /* border-radius: 136px; */
  border: groove;
  border-radius: -13px;
  border-color: #f4f4f4;
}

ion-icon.icon.icon-md.ion-md-person-add.item-icon {
  color: #488aff;
}

ion-card.card-publicacao.card.card-md {
  border-radius: 10px;
  background-color: #bdc3bd17;
}

.organizador-card {
  /* background-color: aliceblue; */
  background-color: #bdc3bd17;
}

.aviso {
  margin-left: 20px;
  margin-top: 18px;
}