page-home-aluno {

}

.organizador-card {
    /* border-radius: 136px; */
    border: groove;
    border-radius: -13px;
    border-color: #f4f4f4;
  }


  ion-card.card-publicacao.card.card-md {
    border-radius: 10px;
    background-color: #bdc3bd17;
}

.organizador-card {
  /* background-color: aliceblue; */
  background-color: #bdc3bd17;
}

.aviso {
  margin-left: 20px;
  margin-top: 18px;
}