

<ion-header>
    <ion-toolbar>
          <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
          </button> 
  
      <ion-title>
          <div class="titulo">
            Lista de Turmas
          </div>
      </ion-title>
        <!-- <ion-icon name="contact"></ion-icon> -->
      
    </ion-toolbar>  
</ion-header>


<ion-scroll scrollY="true">
<ion-card  class="page-space">
<ion-list  *ngFor="let t of turmasList" (click)="abreLista(t.TurmaId)">
    <!-- <button ion-item *ngFor="let turma of turmas" (click)="itemSelected(turma)">
      {{ turma }}
    </button>   -->
    <ion-card>
      <ion-item>
        
              <div class="turma-icon3">
                  <ion-icon ios="ios-school" md="md-school"></ion-icon>
                </div>
                <div class="turma-text">
                  <h2>{{t.NomeTurma}}</h2>
                  <h2>Hora Inicial: {{formataData(t.HoraInicial)}}</h2>
                  <h3>Hora Final: {{formataData(t.HoraFinal)}}</h3>
                </div>
        
      </ion-item>
    </ion-card>
  </ion-list>
</ion-card>

  </ion-scroll>
  
  