

<ion-header>
    <ion-toolbar>
          <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
          </button> 
  
      <ion-title>
          <div class="titulo">
            Lista de Turmas
          </div>
      </ion-title>
        <!-- <ion-icon name="contact"></ion-icon> -->
      
    </ion-toolbar>  
</ion-header>


<ion-scroll scrollY="true">
<ion-card  class="page-space">
<ion-list  *ngFor="let t of turmasList" (click)="abreLista(t.TurmaId)">
    <!-- <button ion-item *ngFor="let turma of turmas" (click)="itemSelected(turma)">
      {{ turma }}
    </button>   -->
    <ion-card>
      <ion-item>
        {{t.NomeTurma}}
        <h2>{{formataData(t.HoraInicial)}}</h2>
        <h3>{{formataData(t.HoraFinal)}}</h3>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-card>

  </ion-scroll>
  
  