

<ion-header>
    <ion-toolbar>
          <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
          </button> 
  
      <ion-title>
        Lista de Turmas
        <div class="notifications">
          <ion-icon name="notifications"></ion-icon>
        </div>
        <ion-icon name="contact"></ion-icon>
      </ion-title>
    </ion-toolbar>  
</ion-header>

<ion-item></ion-item>
<ion-item></ion-item>

<ion-card>
<ion-list  *ngFor="let t of turmasList" (click)="abreLista(t.TurmaId)">
    <!-- <button ion-item *ngFor="let turma of turmas" (click)="itemSelected(turma)">
      {{ turma }}
    </button>   -->
    <ion-card>
      <ion-item>
        {{t.NomeTurma}}
        <h2>{{formataData(t.HoraInicial)}}</h2>
        <h3>{{formataData(t.HoraFinal)}}</h3>
      </ion-item>
    </ion-card>
  </ion-list>
</ion-card>