

<ion-header>
    <ion-toolbar>
          <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
          </button> 
  
      <ion-title>
            <div class="titulo">
        Lista de Chamada
        </div>
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-scroll scrollY="true">

<ion-card class="resumo-top">

    <ion-card>
        <!-- Float the icon left -->
        <button ion-button icon-start (click)="marcar( )" class="marcar" [hidden]="marca">
            <ion-icon name="qr-scanner">  Marcar</ion-icon>
        </button>
         <!-- Only icon (no text) -->
        <button ion-button icon-start (click)="geraQRCode()" class="gerar" [hidden]="gera">
            <ion-icon name="barcode">  Gerar QRCODE</ion-icon>
        </button>
      </ion-card>

      
<ion-card>
  <!-- Float the icon left -->
  <button ion-button icon-start>
      <ion-icon name="happy">   Presentes</ion-icon>
  </button>
</ion-card>

  <ion-card>
      <ion-list *ngFor="let l of ListaPresentes" > 
        <ion-item>
          <ion-icon class="iconback" name="checkmark-circle" item-start large></ion-icon>
          <h2 [hidden]="naopresente">Você ainda não está presente.</h2>
          <h2 [hidden]="presente">Presença ok</h2>
          <div class="dright">
          <h2 [hidden]="mostranome">{{l.Aluno.NomeCompleto}}</h2>
        </div>
          <div class="right"><ion-icon class="left" [hidden]="verificaQr(l.IsQRCODE)" name="qr-scanner"> QRCode</ion-icon>
          <ion-icon class="left" [hidden]="verificaRf(l.IsRFID)" name="wifi"> Rfid</ion-icon>
        </div>

          </ion-item>
      </ion-list>
        
    </ion-card>

    <ion-card [hidden]="cont == 1" >

        <h2 [hidden]="naopresente">Você ainda não está presente.</h2>
        <h2 [hidden]="presente">Presença ok</h2>

    </ion-card>

</ion-card>


<ion-card [hidden]="esconde">
    <ion-card>
      <button ion-button icon-start>
        <ion-icon name="sad">    Faltosos</ion-icon>
      </button>
    </ion-card>

    <ion-card [hidden]="esconde">
      <ion-list *ngFor="let f of listaFaltosos" > 
        <ion-item>
          <ion-icon class="iconred" name="close-circle" item-start large></ion-icon>
          <h2>{{f.NomeCompleto}}</h2>
        </ion-item>
      </ion-list>
    </ion-card>
</ion-card>
  
</ion-scroll>
 
  
  