

ion-grid.grid {
    margin-top: 45px;
}

.a {
    text-align: center;
    margin-top: 18px;
    // margin: 6px;
}

ion-scroll {
    height: 100%;
    margin-top: 12px;
}


    
ion-card.card-historico.card.card-md {
    margin-top: 20px;
}

