page-curso {
    color:black;
}

.nome-curso {
    color: black;
}

.exit-icon {
    color: white;
}

.titulo {
    margin-right: 0px; 
    margin-top: 10px;
}

ion-modal.show-page {
    background: #f4f4f4;
}

ion-fab {
    margin-bottom: 50px;
}